<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
<% if user.errors.any? %>
 "error"
<P><%= flash.now[:alert] %></P>
<% end %>
<%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
<h4>Name</h4>
 <%= user.name %>

<h4>Introduction</h4>
<%= user.introduction %>



